*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  :root {
    --comet-50:  #f6f6f9;
    --comet-100: #ededf1;
    --comet-200: #d7d8e0;
    --comet-300: #b4b7c5;
    --comet-400: #8b90a5;
    --comet-500: #64697f;
    --comet-600: #575b72;
    --comet-700: #474a5d;
    --comet-800: #3e414e;
    --comet-900: #363844;

    --tradewind-50:  #f3fafa;
    --tradewind-100: #d6f1ee;
    --tradewind-200: #ace3dc;
    --tradewind-300: #7acec7;
    --tradewind-400: #4caea9;
    --tradewind-500: #359793;
    --tradewind-600: #287977;
    --tradewind-700: #246161;
    --tradewind-800: #214e4e;
    --tradewind-900: #1f4142;
  }
  
  body {    
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont,"HelveticaNeue-Light", 
    "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.45;    
  }

  body::-webkit-scrollbar{
    -webkit-appearance: none;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--tradewind-100);
  }

  .lista_Menu {
    width: 4.1rem;
    height: 100vh;
    list-style: none;  
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4em;
    overflow: hidden;
    padding: 30px 0px 20px;
    background-color: var(--tradewind-100);
    color: var(--tradewind-100);
    transition: width 0.5s;
  }

  .description_Menu {
    text-decoration: none;
    font-size: 20px;
    padding-left: 13px;
    position: relative;
    color: var(--tradewind-900);          
  }

  .lista_Menu:hover {
    cursor: pointer;
    width: 17rem;
  }

  .description_Menu:hover {
    cursor: pointer;
    color: var(--tradewind-500);
  }

  .item_Menu {
    text-decoration: none;
    color: var(--tradewind-100); 
    font-size: 20px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper_Menu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-right: 10px;
    margin-left: 21px;
    overflow: hidden;
  }

  .wrapper_Menu img {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 1em;
    margin-right: 20px;   
  }
  
  #page1 {
    width: 95vw;
    height: 90vh;
    margin: auto;
    display: flex;
    padding-left: calc(4.1rem + 8em);    
    justify-content: space-evenly;
    gap: 10px;
  }

  /* flex: flex-grow 1 flex-shrink flex-basis 480px|auto|initial|inherit; */
  
  .page1__one {
    width:40%;
    height: 100%;
    flex: 1 2 30%;
  }

  .content__page1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;     
  }

  h1 {
    font-size: 40px;
    text-align: center;   
    color: var(--tradewind-700); 
    line-height: 40px;    
  }

  h2 {
    font-size: 22px;
    text-align: justify;     
    line-height: 27px;
    font-weight: 300;
    color: var(--tradewind-900);
  }

  .page1__two {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 2 50%;    
  }

  .content__page2 {    
    overflow-y: scroll;
    box-shadow: 3px 3px 5px var(--tradewind-800), -3px -3px 5px var(--tradewind-800);
    border-radius: 10px;
    padding: 15px;
    margin: auto;
  }

  .content__page2::-webkit-scrollbar {
    -webkit-appearance:scroll;
  }
  
  form {
    max-width: 600px;
    height: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    gap: 5px 5px; 
    
  }

  fieldset {
    margin: 30px;
    border: none;
    display: flex;
    flex-direction: column;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: var(--tradewind-900);
  }
  

  label {
    margin-top: 20px;
    padding-bottom: 5px;
    color: var(--tradewind-800);
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select, 
  option
  {
    background-color: var(--tradewind-50);
    border-radius: 5px;
    border: .1px solid var(--tradewind-200);
    font-size: 16px;
    outline: 0;
    padding: 15px;
    width: 100%;
    color: var(--tradewind-800);
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    
  }

  select {
    padding: 5px;
    height: 32px;
    border-radius: 2px;
  }

  .selectCorrect {
    padding: 5px;
    height: 32px;
    border-radius: 2px;
    border: solid 2px green;
    box-shadow: 1.5px 1.5px 2.5px lightgreen, -1.5px -1.5px 2.5px lightgreen;    
  }

  .selectWrong {
    padding: 5px;
    height: 32px;
    border-radius: 2px;
    border: solid 2px red;
    box-shadow: 1.5px 1.5px 2.5px lightcoral, -1.5px -1.5px 2.5px lightcoral;    
  }

  input[type="text"]::placeholder,
  input[type="password"]::placeholder,
  input[type="date"]::placeholder,
  input[type="datetime"]::placeholder,
  input[type="email"]::placeholder,
  input[type="number"]::placeholder,
  input[type="search"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="time"]::placeholder,
  input[type="url"]::placeholder,
  textarea::placeholder,
  select::placeholder, 
  option::placeholder
  {
    color: var(--tradewind-200);
  }

  .Input:focus {
    border: solid 2px var(--tradewind-400);
    box-shadow: 1.5px 1.5px 2.5px var(--tradewind-200), -1.5px -1.5px 2.5px var(--tradewind-200);
  }

  .InputCorrect:focus {
    border: solid 2px green;
    box-shadow: 1.5px 1.5px 2.5px lightgreen, -1.5px -1.5px 2.5px lightgreen;
  }

  .InputWrong:focus {
    border: solid 2px red;
    box-shadow: 1.5px 1.5px 2.5px lightcoral, -1.5px -1.5px 2.5px lightcoral;
  }

/* ESTILOS DE LOS GRUPOS */
  #grupoJuris,
  #grupoProceso,
  #grupoespProceso,
  #grupociudad,
  #gruponombreDte,
  #grupoidNumDte,
  #grupocorreoDte,
  #gruponombreDdo,
  #grupoidNumDdo,
  #grupocorreoDdo,
  #gruponombreAbogado,
  #grupoidNumAbogado,
  #grupoTP,
  #grupocorreoAbogado
  {
    display: flex;
    flex-direction: column; 
  }

  button, #sendButton, #pdf{    
    padding: 10px;
    color: #FFF;
    background-color: var(--tradewind-600);
    font-size: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
    width: 30%;
    border: 1px solid var(--tradewind-600);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  button:hover, #sendButton:hover, #pdf:hover{
    background-color: var(--tradewind-400);
    border: 1px solid var(--tradewind-400);
  }

  div {
    display: flex;
    justify-content: center;
  }

  .modal-container {
    background-color: rgb(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100vw;
    overflow-y: scroll;
    visibility: hidden;    
  }

  .modal {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px; 
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
    text-align: center; 
    overflow-y: scroll;   
    
  }
  
 .poder__Wrapper { 

    display: flex;
    flex-direction: column;
    text-align: justify;  
    line-height: 2px;  
        overflow-y: scroll;   

  }

  .poder__Wrapper::-webkit-scrollbar {
    -webkit-appearance:scroll;
  }

  .poder__Wrapper p {
    line-height: 20px;
    margin: 2px;
  }


  .wrongText {
    font-size: 12px;
    margin-bottom: 0;
    display: none;    
  }
  
  .wrongText-activo {
    font-size: 12px;
    margin-bottom: 0;
    display:block;
    color: lightsalmon;
  }

  .wrongMessege {
    font-size: 14px;
    display: none;
  }

  .wrongMessege-activo {
    font-size: 14px;
    color: red;
    display: inline-flex;
  }

  .succesMessege {
    font-size: 14px;    
    display: none;
  }
  
  .succesMessege-activo {
    display: inline-flex;
    color: #119200;
  }
  
  
 @media only screen and ( max-width: 800px) {
    #page1{
      padding: 0;
      padding-top: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    header {
      position: absolute;
    }
    .lista_Menu{
      flex-direction: row;
      width: 100vw;
      height: 50px;
      gap: 20px;
      margin: 0;
      padding: 0;
      background-color: var(--tradewind-100);
      color: var(--tradewind-100);
      transition: width 0;
      align-items:flex-start;
      justify-content: space-around;
    }

    .lista_Menu:hover {
      cursor: pointer;
      width: 100vw;
    }

    .description_Menu {
      display: none;
    }

        .page1__one{
      width: 100%;
    }

    .page1__two{
      width: 100%;
    }

    h1 {
      font-size: 25px;
      line-height: 25px;      
    }
  
    h2 {
      font-size: 16px;
      text-align: justify;     
      line-height: 16px;
      font-weight: 100;      
    }

    .content__page2{
      margin-top: 20px;
    }

    form {
      width: 600px;
      height: 100%;
      margin: 5px auto;
      padding: 5px 10px;
      gap: 3px 3px; 
      
    } 

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select, 
    option
    {
      width: 80vw
    }
    
    .button, #sendButton, #pdf {    
      font-size: 10px;
      text-align: center;
      font-style: normal;
      font-weight: 300;
      width: 60%;     
    }
    
    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  @media only screen and ( max-width: 400px) {
    header, #ListaMenu{
      display: none;
    }

    form {
      max-width: 320px;
    }
  }

