*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  :root {
    --comet-50:  #f6f6f9;
    --comet-100: #ededf1;
    --comet-200: #d7d8e0;
    --comet-300: #b4b7c5;
    --comet-400: #8b90a5;
    --comet-500: #64697f;
    --comet-600: #575b72;
    --comet-700: #474a5d;
    --comet-800: #3e414e;
    --comet-900: #363844;

    --tradewind-50:  #f3fafa;
    --tradewind-100: #d6f1ee;
    --tradewind-200: #ace3dc;
    --tradewind-300: #7acec7;
    --tradewind-400: #4caea9;
    --tradewind-500: #359793;
    --tradewind-600: #287977;
    --tradewind-700: #246161;
    --tradewind-800: #214e4e;
    --tradewind-900: #1f4142;
  }
  
  body {    
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont,"HelveticaNeue-Light", 
    "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.45;    
  }

  body::-webkit-scrollbar{
    -webkit-appearance: none;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--tradewind-100);
  }

  .lista_Menu {
    width: 4.1rem;
    height: 100vh;
    list-style: none;  
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4em;
    overflow: hidden;
    padding: 30px 0px 20px;
    background-color: var(--tradewind-100);
    color: var(--tradewind-100);
    transition: width 0.5s;
  }

  .description_Menu {
    text-decoration: none;
    font-size: 20px;
    padding-left: 13px;
    position: relative;
    color: var(--tradewind-900);          
  }

  .lista_Menu:hover {
    cursor: pointer;
    width: 17rem;
  }

  .description_Menu:hover {
    cursor: pointer;
    color: var(--tradewind-500);
  }

  .item_Menu {
    text-decoration: none;
    color: var(--tradewind-100); 
    font-size: 20px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper_Menu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-right: 10px;
    margin-left: 21px;
    overflow: hidden;
  }

  .wrapper_Menu img {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;    
  }
  
  #page1 {
    width: 95vw;
    height: 90vh;
    margin: auto;
    display: flex;
    padding-left: calc(4.1rem + 8em);    
    justify-content: space-around;
    gap: 50px;
  }

  /* flex: flex-grow 1 flex-shrink flex-basis 480px|auto|initial|inherit; */
  
  .page1__one {
    width:40%;
    height: 100%;
    flex: 1 2 30%;
  }

  .content__page1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;     
  }

  h1 {
    font-size: 40px;
    color: var(--tradewind-700); 
    line-height: 40px;
    text-align: center;   
  }

  h2 {
    text-align: justify; 
    font-size: 22px;
    line-height: 27px;
    font-weight: 300;
    color: var(--tradewind-900);
  }

  .page1__two {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 2 50%;    
  }

  .content__page2 {    
    overflow-y: scroll;
    box-shadow: 3px 3px 5px var(--tradewind-800), -3px -3px 5px var(--tradewind-800);
    border-radius: 10px;
    padding: 15px;
    margin: auto;
  }

  .content__page2::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  form {
    max-width: 600px;
    height: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    gap: 5px 5px; 
    
  }

  fieldset {
    margin: 30px;
    border: none;
    display: flex;
    flex-direction: column;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: var(--tradewind-900);
  }
  

  label {
    margin-top: 20px;
    padding-bottom: 5px;
    color: var(--tradewind-800);
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select, 
  option
  {
    background-color: var(--tradewind-50);
    border-radius: 5px;
    border: .1px solid var(--tradewind-200);
    font-size: 16px;
    outline: 0;
    padding: 15px;
    width: 100%;
    color: var(--tradewind-800);
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    
  }

  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }

  input[type="text"]::placeholder,
  input[type="password"]::placeholder,
  input[type="date"]::placeholder,
  input[type="datetime"]::placeholder,
  input[type="email"]::placeholder,
  input[type="number"]::placeholder,
  input[type="search"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="time"]::placeholder,
  input[type="url"]::placeholder,
  textarea::placeholder,
  select::placeholder, 
  option::placeholder
  {
    color: var(--tradewind-200);
  }

  .Input:focus {
    border: solid 2px var(--tradewind-400);
    box-shadow: 1.5px 1.5px 2.5px var(--tradewind-200), -1.5px -1.5px 2.5px var(--tradewind-200);
  }

  .InputCorrect:focus {
    border: solid 2px green;
    box-shadow: 1.5px 1.5px 2.5px lightgreen, -1.5px -1.5px 2.5px lightgreen;
  }

  .InputWrong:focus {
    border: solid 2px red;
    box-shadow: 1.5px 1.5px 2.5px lightcoral, -1.5px -1.5px 2.5px lightcoral;
  }

/* ESTILOS DE LOS GRUPOS */
  #grupoJuris,
  #grupoProceso,
  #grupoespProceso,
  #grupociudad,
  #gruponombreDte,
  #grupoidNumDte,
  #grupocorreoDte,
  #gruponombreDdo,
  #grupoidNumDdo,
  #grupocorreoDdo,
  #gruponombreAbogado,
  #grupoidNumAbogado,
  #grupoTP,
  #grupocorreoAbogado
  {
    display: flex;
    flex-direction: column; 
  }

  button {    
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: var(--tradewind-600);
    font-size: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
    width: 30%;
    border: 1px solid var(--tradewind-600);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    cursor: pointer;
  }

  button:hover{
    background-color: var(--tradewind-400);
    border: 1px solid var(--tradewind-400);
  }

  div {
    display: flex;
    justify-content: center;
}

.poder__Wrapper {
    display: flex;
    flex-direction: column;
    text-align: justify;
}


 .poder__Wrapper {
    width: 85vw; 
    height: 100%;
    color: black;
    padding: 10px;
  }


  .wrongText {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    
  }
  
  .wrongText-activo {
    font-size: 12px;
    margin-bottom: 0;
    display:block;
    color: lightsalmon;
  }
  
 @media only screen and (max-width: 800px) {
    form {
      max-width: 480px;
      display: flex;
      flex-direction: column;
    }

    #page1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      gap: 50px;
    }  
  }

